div.banner-white-bg {
    background-color: #fff;
}

div.banner-white-bg img {
    overflow: hidden;
    width: 100%;
    height: auto;
}

nav div.container {
    padding-bottom: 0;
}

div.button-space {
    display: flex;
    justify-content: flex-start;
}

button.go-back {
    background: transparent;
    color: #424242;
    border: 0.12em solid #424242;
    border-radius: 0.24em;
    font-size: 1em;
    padding: 0.44em 0.88em;
    font-weight: 600;
    transition: all 0.2s ease;
    touch-action: manipulation;
    cursor: pointer;
}

button.go-back:hover {
    background: #424242;
    color: #fff;
    border-color: #424242;
}

div.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

div.img-pledge {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc((100% - 1 * 14px) / 2);

}

div.img-pledge img {
    width: 100%;
    height: auto;
    align-self: center;

}

div.text-pledge {
    display: block;
    /* max-width: 8em;*/
    height: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc((100% - 1 * 14px) / 2);

}

div.text-pledge h3 {
    color: rgb(66, 66, 66);
    text-align: left;
}

div.text-pledge p,
ul,
li {
    color: rgb(13, 13, 15);
    font-size: 0.84rem;
    text-align: left;
}

div.text-pledge ul {
    color: rgb(13, 13, 15);
    font-size: 0.84rem;
    text-align: left;
    list-style-position: inside;
}

div.text-pledge li {
    color: rgb(13, 13, 15);
    font-size: 0.84rem;
    text-align: left;
    padding-left: 1em;
}

@media screen and (max-width:425px) {
    div.flex-wrap {
        flex-direction: column;

    }

}