@import url(reset.css);
@import url(typography.css);
@import url(header.css);
@import url(footer.css);

div.banner {
    background-color: #f2e9df;
}

div.banner img {
    overflow: hidden;
    width: 100%;
    height: auto;
}

section#introtext {
    background-color: #f2e9df;

}

section#introtext>div.container {
    text-align: left;
    padding-bottom: 1em;
}

div.container {
    max-width: 1200px;
    padding: 3em;
    margin: auto;

}

@media screen and (max-width:768px) {
    div.container {
        padding: 0.8em;

    }
}

div#cta {
    font-size: 1.11em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: #000;
    width: fit-content;
    height: auto;
    position: relative;
    padding: 0.7em;
    margin: auto auto 3em;

}



div#cta:before {
    content: "";
    position: absolute;
    background: #f18f59;
    border-radius: 15px;
    transform: skew(-5deg);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/*to fix button arrow position*/
div#cta img {
    width: auto;
    height: 35px;
    padding-left: 0.5em;
}

section#form-pledges {
    color: #fff;
}

div#twocolumns {
    color: #000;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width:767px) {
    div#twocolumns {
        flex-direction: column;
    }
}

div#left-column {
    width: 100%;
    padding: 1em;
}

div#right-column {
    width: 100%;
    padding: 1em;
}

div.desc-form>h2 {
    text-align: left;
    font-size: 1.31em;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 1em;
}


div#right-column {
    text-align: left;
}

h2#pledges-title {
    text-align: left;
    font-size: 1.31em;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 0em;
}

div.title-pledges {
    font-size: 0.88em;
    font-weight: bold;
    display: block;
    padding-block: 1.8em;
}

div.default-item {
    border-top: 0.14em solid #e5e5e5;
}

div.image-wrap {
    width: 30%;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

img.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

div.pledge-content-item {
    display: block;
    margin-bottom: 2em;
}

div.pledge-content-item a,
div.pledge-content-item a:visited {
    text-decoration: none;
    color: #037c94;
}

div.pledge-content-item a:hover {
    text-decoration: underline;
    color: #00a8c1;
}


.title-pledges a,
.title-pledges a:visited {
    text-decoration: none;
    color: #333333;
    display: block;
    cursor: pointer;
}

.title-pledges a:hover {
    color: #337ab7;

}

div.first-pledge {
    max-height: 27em;
    overflow: hidden;
    transition: max-height 0.4s ease-out;

}

div.hidden-pledge {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}


section.signed-candidates {
    background-color: #f2e9df;
}

section#partners {
    background-color: #f2e9df;
    padding: 2em 2em;
    margin: auto;


}

div.partners-title {
    text-align: center;

}

div.partners-title>h3 {
    background-color: #fff;
    width: fit-content;
    margin: auto;
    padding: 0.3em;
    border-radius: 0.2em;
}


div.container-partners {
    max-width: 1200px;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 0em;
    padding-top: 2em;
    margin: auto;

}

div.partners-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 14px;

}

img.img-responsive-partners {
    display: block;
    /* max-width: 8em;*/
    height: auto;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc((100% - 6 * 14px) / 7);
    /* Calculate the width for 7 images with a 14px gap between them */
    max-width: calc((100% - 6 * 14px) / 7);
    /* Ensure images don't exceed the calculated width */
}

@media screen and (max-width:425px) {

    div.container-partners {
        padding-left: 1em;
        padding-right: 1em;
    }


    div.partners-list {
        gap: 7px;
    }


    img.img-responsive-partners {
        flex-basis: calc((100% - 4 * 7px) / 5);
        max-width: calc((100% - 4 * 7px) / 5);
    }
}


.proca-postcode {
    display: none !important;
}


.proca-locality {
    display: none !important;
}